<!DOCTYPE html>
<html lang="en">
    <head>
      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
   body{
                background-color:rgb(118, 143, 118);
                background-image: url("static/images/gr2.jpg");
            }
  form{
                background-color: darkslategray;
                padding-top: 30px;
                padding-bottom: 20px;
                border-radius: 10px;
               
            }
            nav{
                text-decoration: underline;
                
            }
   </style>
    </head>
        <body class="container" >
            <nav class="  navbar navbar-expand-md bg-warning navbar-blue  fixed-top ">
                <button  type="button" class="navbar-toggler bg-warning "  data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon" ></span>
                </button>
            
            <div class="collapse navbar-collapse" id="navbar">
                <ul class=" for navbar-nav ml-auto " style="margin-right:10px ; padding-right: 40px; ;">
                   <li class="nav-item" >
                       <a href="home" class="nav-link" ><b>Home</b></a>
                   </li>
                  
                   <li class="nav-item">
                    <a href="uslogin" class="nav-link" target="_blank"><b>Log In</b></a>
                </li>
                <li class="nav-item">
                    <a href="teach" class="nav-link" target="_blank"><b>Sign Up</b></a>
                </li>
                
               
    
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"></a>
                    <div class="dropdown-menu" style="background-color:grey ;">
                        <a href="{% url 'logout' %}"  class="btn btn-info">LOGOUT</a>
                     
    
                        
                    </div>
                </li>
                </ul>
            </div>
            </nav>
            {% block content %}

            <h1>FIRST PAGE</h1>
            <div class="container">

            <a href="{% url 'second' %}">NEXT PAGE</a>

           </div>
            
            {% endblock %}
        </body>
        </html>